<!DOCTYPE html>
<html lang="en">

<head>
    <%-include ("../partials/meta.ejs")%>
  
    <link rel="stylesheet" href="../css/style.css">
    <%-include ("../partials/link.ejs")%>
    
        <title>Turnos</title>
</head>

<body>
    <header>
       <h1 class="h1"> Central de turnos</h1> 
       <div class="logo-paciente">
            <img class="user" src="../imagenes/img/user.png" alt="cara de persona">
            <h3 class="h3">Paciente</h3>
        </div>
     </header>   
   
     <section>
          
        <form action="" class="formulario-turno">
            <h2>Complete sus datos para solicitar un turno</h2>
            <br>
            <br>
            <br>
            <br>
            <br>

            <label for=""class="tit-form">Nombre Completo</label>
            <input type="text" id="nombre" class="boton" name="nombrecompleto" placeholder="Nombre Completo">
            <br>
            <br>

            <label for="documento" class="tit-form">D.N.I.</label>
            <input type="documento" id="dni" class="boton" name="documento" placeholder="Ingrese su DNI">
            <br>
            <br>

            <label for="mutual" class="tit-form">Esciba su Mutual</label>
            <select name="estudio" class="boton1" id="estudio">
                <option value="aaa">AAA</option>
                <option value="bbb">BBB</option>
                <option value="ccc">CCC</option>
                <option value="ddd">DDD</option>
                <option value="eee">EEE</option>
                <option value="fff">FFF</option>
            </select>
            <br>
            <br>

            <label for="profesional">Escriba el nombre del profesional</label>
            <select name="medico" class="boton1" id="medico">
                <option value="dra.anabellorez">Dra. Annabel Lopez</option>
                <option value="dra.nancygomez">Dra. Nancy Gomez </option>
                <option value="dr.gustavocorrea">Dr. Gustavo Correa</option>
                <option value="dr.carlosfuentes">Dr. Carlos Fuentes</option>
                <option value="dr.franciscoarregui">Dr. Francisco Arregui </option>
                <option value="dra.carlamonte">Dra. Carla Monte</option>
                <option value="dra.pauladiaz">Dra. Paula Diaz</option>
                <option value="dr.martinfernandez">Dr. Martin Fernandez</option>
            </select>
          
            <input type="submit" class="boton2" value="Enviar">
        </form>

     </section>

     <footer class="footer">
        <%-include ("../partials/footer.ejs") %>
      </footer>
    
</body>

</html>