*{
    box-sizing: border-box;
    margin: 0px; 
}

body{
    background-image: url(/imagenes/img/fondo1.jpg);
    font-family: 'Caveat', cursive;
    width: 100%;
    margin: 0px;
    
}

.titulos{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 0px;
    
}

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    width: 100%;
    z-index: 2;
    background-color: #33d9b2;
    height: 130px;
    top:0px;
}

h1{
    font-size: 70px;
    color: #40407a;
    margin-left: 25px;
}

a{
    text-decoration: none;
    color:#40407a;
    font-size: 40px;
    margin-right: 20px;
}

.barra-nav{
    display:flex;
    flex-direction: raw;
    margin-left: 800px;
}

.hamburguesa{
    display: none;
}

.iniciaSesion{
    background-color: #33d9b2;
}

.btn-secondary{
    color: #40407a;
    background-color: #33d9b2;
    /*border-color: #40407a;*/
    font-size: 35px;
    border-style: none;
}

.dropdown-menu{
    background-color: #33d9ba;
    border-radius: 1rem;
}

main{
    margin-top: 150px;
    width:100%;
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px; 
    justify-content: space-evenly;
    
}

.card{
     margin: 30px;
     padding: 10px;
     background-color: #40407a;
     color:white;
     width: 400px;
}


.click{
    text-decoration: none;
    display: inline-block;
    background-color: #d1ccc0;
    border: 2px solid white;
    margin-bottom: 5px;
    padding: 5px;
}

.img-card{
    width: 100%;
    height: 250px;
}

.card-h5{
    font-size: 40px;
    text-align: center;
}

.card-text{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}


.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

article{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

img{
    width: 80%;
    align-self: center;
}

h2{
    color:#40407a;
    font-size:70px;
    text-decoration: underline;
    text-align: center;

}

.footer{

	background-color: #2c2c54;
	color: white;
	padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    height: 100px;
}

h3{
    right: 50px;
}

p{
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.calendario{
    width: 70%;
    border: #33d9b2 4px solid;
    margin-bottom: 10px;
    margin-top: 20px;
}


.redes-sociales{
    text-align: center;
    list-style-type: none;
	font-size: 40px;
	margin-right: 10px;
}

.copy{
    justify-content: flex-end;
    align-self: flex-end;

}

/*-------------- Turnos --------------*/

.user{
    width: 80px;  
}


.h1-turnos{
    font-size: 60px;
    font-style: oblique;
    
}

.logo-paciente{
    display: flex;
    align-items: flex-end;
}

.h3{
    color: #40407a;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    align-items: flex-start;
    margin-right: 15px;
}

.btn-nav{
    display: flex;

}

.formulario-turno{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 80%;
    height: 800px;
    box-shadow: 3px 3px #33d9b2, 1em 0 .9em #40407a;
    background-color: #33d9b275;

}

.h2{
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;

}

.tit-form-turnos{
    color: #40407a;
    font-size: 35px;
}
.boton{
    width: 100%;
    height: 30px;
}

.boton1{
    width: 100%;
    height: 50px;
}

.boton2{
    width: 200px;
    height: 30px;
    margin-top: 15px;
}



/*--------------  Laboratorio -----------------------*/



.lab{
    display: flex;
    flex-direction: column;
}

.parrafo{
    
    font-size: 30px;
    color: #40407a;
    margin-left: 25px;
    margin-top: 200px;
}

.titulo-lab{
    
    font-size: 60px;
    color: #40407a;
    margin-left: 25px;
    text-align: center;
    font-style: oblique;
}

.datos-lab{
    text-align: center;
    font-size: 40px;
    color: white;
}

.main-lab{
    display: flex;
    
    flex-wrap: nowrap;
    margin: 50px;
}

.formulario-lab{
    background-color: #40407a;
    display: flex;
    margin-top: 100px;
    width: 60%;
    height: 600px;
    flex-direction: column;
    border: turquoise 7px solid;
    flex-wrap: wrap;
    align-items: center;
}

.tit-form{
    font-size: 40px;
    color: white;
}


.boton-lab{
    width: 90%;
    height: 40px;
    border: white 5px solid;
    margin-left: 20px;
}
.boton1-lab{

    height: 40px;
}

.boton2-lab{
    width: 150px;
  
    margin-bottom: 30px;
    padding:15px;
}

.imagenes{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
}


.imagen-eco{
    width: 500px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.imagen-rx{
    width: 400px;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 250px;
    border-radius: 21px;
    position: absolute; 
}
   

.imagen-tubo{
    width: 300px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.footer-lab{
    margin-bottom: 0px;
}



/*----------- Donde Estamos ---------------*/

.header-gps{
    background-color: transparent;
    height: 70px;
    position: relative;
}
.body-gps{
    display: flex;
    flex-direction: column;
}  


.mapa{
    width: 100%;
   
    margin-top: 100px;
}

.gps-h2{
    text-decoration: underline;
    font-size: 90px;
}

.gps-p{
    font-size: 50px;
    font-weight: bold;
   
    margin-left: 50px;
}

.telefono{
    margin-top: 0px;
    font-size: 40px;
    margin-left: 40px;
}





@media (max-width:400px){
    main{
        display: grid;
        grid-template-columns: 3, 3fr;
    }
    
    header{    
		padding-left: 15px;
		display: flex;
		flex-direction: row;       
    }
    
    .header-gps{
        position: relative;
        height: 60px;
    }

    .header_turnos{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .h1-turnos{
        font-size: 25px;

    }

    .titulos{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    h1{
        font-size: 3em;
        margin: 5px;
    }

    h2{
        font-size: 30px;

    }

    .titulo-lab{
        font-size: 50px;
        color: #40407a;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin-top:10px;
    }

    .gps-h2{
        font-size: 50px;
    }

    .lab{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .barra-nav{
        display:none;
        flex-direction: column;
        width: 400px;
        margin-left: 0px;
    }
    
    .hamburguesa {
        display: block;
        
    }

    .fa-bars{
        color: #40407a;
        size: 40px;
        margin: 20px;
    }

    .showMenu{
        display: flex;
    }
    
    .dropdown-item{
        font-size: 25px;
    }

    .btn-secondary{
        width: 100%;
        opacity: 90%;
    }
    
    .iniciaSesion{
        width: 100%;
        text-align: center;
        opacity: 90%;
    }
    
    .section{
        margin-left: 0px;
        padding-left: 0px;
    }

    .card{
        position: relative;
        margin: 30px 0px;
       
    }

    .main-lab{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
    }

    .formulario{
        background-color: #40407a;
        display: flex;
        margin-top: 400px;
        width: 800px;
        height: 500px;
        flex-direction: column;
        border: turquoise 7px solid;
    }

    .formulario-lab{
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        margin-top:20px;
    }

    .imagen-eco{
        width: 300px;
    }

    .imagen-rx{
        width: 250px;
        margin-top: 10px;
        position: relative;
    }

    .formulario-turno{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
    }
    
    /*.footer{
        width: 100%;
    }*/

    .footer-lab{
        width: 100%;
    }

    .imagenes{
        display: none;
    }
}


@media (max-width:768px){
    
    /*main{
        display:grid;
        grid-template-columns: 3, 3fr;
    }*/
    
    header{
		width: 100%;
		padding-left: 15px;
		display: flex;
		flex-direction: column;  
    }    

    .header_turnos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }
   
    .parrafo{
        margin-top: 150px;
    }

    .card{
        position: relative;
        width: 20em;
    }

    .calendario{
        width: 100%;
    }
    
    .barra-nav{
        display:none;
        flex-direction: column;
        width: 400px;
        margin-left: 0px;
    }
     .hamburguesa {
        display: block;
        width: 50px;   
    }
    
    .showMenu{
        display: flex;
    }

    .dropdown-item{
        font-size: 30px;
    }

    .fa-bars{
        color:#40407a;
        font-size: 50px;
       /* margin-left: 100%;*/
        margin-bottom: 20px;

    }

    .lab{
        display: flex;
        flex-direction: column;

    }
    
    .main-lab{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 0px;
    }
    .formulario-turno{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .formulario-lab{
        display: flex;
        margin-top: 20px;
        width: 100%;
        
    }

    .imagenes{
        display: flex;
    }

    .imagen-rx{
        width: 200px;
        position: relative;
        margin: 0px;
    }
  

    .footer{
        width: 100%;
    }

}

    