*{
    box-sizing: border-box;
}


body{
    background-image: url(./img/fondo1.jpg);
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
}  

h1{
    font-size: 80px;
    
}

.map{
    width: 100%;
    margin: 20px;
}

h2{
    text-decoration: underline;
    font-size: 90px;
}

p{
    font-size: 50px;
    font-weight: bold;
   
    margin-left: 50px;
    
}
.telefono{
    margin-top: 0px;
}