<footer class="footer">
    <div class="redes-sociales">

      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>

      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>

      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>

    </div>
    <p class="copy">©Copyright 2021</p>
    <script src="https://kit.fontawesome.com/ae4a9af0eb.js" crossorigin="anonymous"></script>
  </footer>